ion-segment-button{
    color: var( --ion-color-primary);
}

.segment-button-checked {
    color: white !important;
    background-color: rgb(93,103,113,0.2);
    
}

.textoCapitalizado{
     text-transform: none !important;
}