<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
             color="light">

  <app-noticias [noticias]="noticias"></app-noticias>
  <ion-infinite-scroll threshold="150px"
                       position="bottom"
                       (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles"
                                 loadingText="Cargando noticias...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>